= form_for( Email::Outbound.new, url:email_outbound_index_path,
    html:{ multipart:true }, remote:true ) do |form|

  .reply.box
    .box-header
      .recipients.error.hidden
        %label.text-danger
          Email addresses
          %span.addresses

      = form.text_field :recipients, placeholder:'To: ',
          class:'form-control'

    .box-body
      .form-group
        .message_content.error.hidden
          %label.text-danger
            You need to add a customer message

        = form.text_area :message_content, class:'form-control'

      .file_upload.col-sm-9
        .attachments.error.hidden
          %label.text-danger
            Your attachments exceed 25mb &mdash; time to remove some of those
            files &hellip;
            
        Attach files
        &rarr;
        = form.file_field :attachments, multiple:true
        
      .actions.col-sm-3
        .pull-right
          = form.button 'Send', class:'btn btn-default'
          = form.button 'Cancel', class:'cancel btn btn-default', type: :reset