%section.content-header
  .row
    .col-md-3.col-sm-3.col-xs-6
      .small-box.bg-danger
        .inner
          %h3= dashboard.open_requests
          %p
            Open
            = pluralized dashboard.open_requests
            
    .col-md-3.col-sm-3.col-xs-6
      .small-box.bg-warning
        .inner
          %h3
            = dashboard.customer_happiness.to_i

            %small %

          %p
            Customer
            %i.fa.fa-smile-o

    .col-md-3.col-sm-3.col-xs-12
      .small-box.bg-info
        .inner
          %h3
            - hrs, mins = dashboard.first_reply.divmod(60)

            - unless hrs.zero?
              = hrs
              %small hr

            - unless mins.zero?
              = mins
              %small min

          %p
            Average 1
            %sup st
            reply

    .col-md-3.col-sm-3.col-xs-12
      .small-box.bg-success
        .inner
          %h3
            - hrs, mins = dashboard.average_close.divmod(60)

            - unless hrs.zero?
              = hrs
              %small hr

            - unless mins.zero?
              = mins
              %small min

          %p Average close

%section.content
  %ul.timeline
    -# TODO: Russian doll cache outer fragment ...
    - dashboard.timeline.each do |day, activities|
      %li.time-label
        %span.bg-none= day.strftime "%d %b %Y"

        - activities.each do |activity|
          - cache(activity) do
            = render partial:activity.key, locals:{ activity:activity }
    %li
      %i.fa.fa-clock-o.bg-gray

  %br/

  %h4= will_paginate(dashboard.activities)
