!!!

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SupportFlow
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag 'search', media: 'all'

  %body.wrapper
    .content-wrapper
      .container-fluid
        .team.row
          .col-sm-offset-2.col-sm-7
            %h1
              = link_to @team.name.titleize, 
                  team_public_guides_url(@team.name.parameterize)

            %p.text-muted
              %small
                Available guides
                &nbsp;

              - Guide.pages(@team).each do |guide|
                - if guide.home_page?
                  = link_to guide_name(guide),
                      team_public_guides_url(@team.name.parameterize)
                - else
                  = link_to guide_name(guide),
                      team_public_guide_url(@team.name.parameterize,
                        guide.name.parameterize)
                &nbsp;

        .search.row
          .col-sm-offset-2.col-sm-7
            %br/

            = form_tag team_guide_search_url(params[:team_name]),
                method:'get', enforce_utf8:false do
                
              .input-group
                %input.form-control{placeholder:"How can we help you today?", type:"search", value:params[:q], name:'q'}
                  %span.input-group-btn
                    %button.btn.btn-default{type:"button"} Search

            %br/

        .summary.row
          .col-sm-offset-2.col-sm-7

        .results.row
          .col-sm-offset-2.col-sm-7
            - if @guides.empty?
              %p
                No guides found &hellip;
            
            - @guides.each do |guide|
              %h4
                = link_to guide_name(guide), guide_link(@team, guide)
                %br/

                %small.text-success
                  = guide_link(@team, guide)

                %br/

                %small{style:'color:black;'}= guide.text_content

                %br/
                %br/

        = will_paginate @guides