%section.content-header
  %br/

  %section.content
    .row
      .col-sm-offset-2.col-sm-7.col-xs-12
        .box
          .box-header
            %br/
            %h1.text-center Welcome!
            %br/

            %p
              [WELCOME & THANKS] Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at dui malesuada, eleifend augue eu, mollis augue. Aenean iaculis non arcu id egestas. Sed sagittis efficitur luctus.

          .box-body

            %h3 Team Name

            %p
              [TEAM NAME EXPLINATION] Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at dui malesuada, eleifend augue eu, mollis augue.

            %ul.list-unstyled
              %li
                Email &rarr;
                = mail_to "#{current_team.name}@getsupportflow.net"

              %li
                Guides &rarr;
                = link_to team_public_guides_url(current_team, host:host),
                team_public_guides_url(current_team, host:host)

              %li
                Search &rarr;
                = link_to search_url, search_url

            %br/

            %h3
              Team Agents

              %small
                &mdash;
                = link_to 'Add more agents to your team',
                  new_team_agent_path(current_team)

            %ul.list-unstyled
              - current_team.agents.each do |agent|
                %li= agent.name


            %br/

            %h3 DNS &amp; Email Setup

            %p
              [DNS] Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at dui malesuada, eleifend augue eu, mollis augue

            %blockquote
              %p
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. In at dui malesuada, eleifend augue eu, mollis augue.
                
            %p
              If you&apos;ve any questions &mdash; just contact 
              = mail_to 'rachel@getsupportflow.net'
              \.