= form_tag(request_merge_path(@request), method: :post) do
  .form-group
    - customer_requests.each do |request|
      .radio
        %label
          = radio_button_tag :merge_request_id, request.id
          = link_to (request.name || "##{request.id}"), request_path(request)
    
  .btn-group
    %button.btn.btn-default
      Merge
      
    = link_to 'Cancel', request_merge_path(@request), method: :delete, class:'btn btn-default'
