- customer_url = @customer.new_record? ? [current_team,@customer] : @customer
= form_for(customer_url, html:{class:'form-horizontal'}) do |form|

  %section.content-header
    = link_to 'Cancel', :back, class:'btn btn-default'
    = form.button 'Save', class:'btn btn-default'

  %section.content
    .box
      .box-header.with-border
        %h3.text-muted
          - if @customer.new_record?
            %small
              New customer
          - else
            %small
              Edit customer

      .box-body
        %div{ class:"form-group text-muted #{ 'has-error' if @customer.errors[:name].present? }"}
          = form.label :name, 'Name', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-12
            = form.text_field :name, class:'form-control',
                placeholder:name_input_placeholder

        .form-group.text-muted
          = form.label :name, 'Phone', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-12
            = form.text_field :phone, class:'form-control',
                placeholder:'Phone number'

        .form-group.text-muted
          = form.label :name, 'Email', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-12
            = form.text_field :email_address, class:'form-control',
                placeholder:'Email address'
                
        .form-group.text-muted
          = form.label :name, 'Company', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-12
            = form.text_field :company, class:'form-control',
                placeholder:'Company name'
                
        .form-group.text-muted
          = form.label 'Labels', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-12
            = form.text_field :label_list, class:'col-sm-3 form-control',
                placeholder:'Searchable labels e.g. urgent faq billing'

        .form-group
          = form.label :notes, 'Notes', class:'col-sm-2 control-label text-muted'

          .col-sm-9.col-xs-12
            = form.text_area :notes, class:'form-control'

:javascript
  $(function() {
    $('#customer_notes').redactor({
      focus: false,
      minHeight: 250,
      replaceDivs: false,
      deniedTags: [],
      removeEmpty: false,
      replaceTags: [],
      pastePlainText: false
    })
  });
