%section.content-header
  = link_to 'Edit', edit_customer_path(@customer), class:'btn btn-default'

%section.content
  .box
    .box-body
      .row
        .col-lg-8.col-md-8.col-sm-8.col-xs-12
          %h1
            = @customer.name

            - if @customer.company.present?
              %small
                %small
                  from
                  = link_to @customer.company,
                      team_customers_path(current_team,q:@customer.company)

          - unless @customer.phone.blank?
            %h3.text-muted
              %i.fa.fa-phone
              = @customer.phone

          - unless @customer.email_address.blank?
            %h5.text-muted
              %i.fa.fa-envelope-o
              = mail_to @customer.email_address

          - unless @customer.labels.empty?
            %p.text-muted
              - @customer.labels.each do |label|
                = link_to label, team_requests_path(current_team, q:"label:#{label}"),
                    class:'btn btn-xs bg-info'

        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          - hrs, mins = @customer.average_reply.to_i.divmod(60)

          - if !hrs.zero? && !mins.zero?
            %h3
              - unless hrs.zero?
                %span= hrs
                %sup
                  %small
                    h

              - unless mins.zero?
                = mins
                %sup
                  %small
                    m

              %small
                &nbsp;
                1
                %sup st
                reply

          - hrs, mins = @customer.average_close.to_i.divmod(60)
          - if !hrs.zero? && !mins.zero?
            %h3
              - unless hrs.zero?
                = hrs
                %sup
                  %small
                    h

              - unless mins.zero?
                = mins
                %sup
                  %small
                    m

              %small
                &nbsp;
                close

          - open_requests = Request.open_count @customer
          - closed_requests = Request.open_count @customer, false
          - unless open_requests.zero? && closed_requests.zero?
            %h3
              - unless open_requests.zero?
                = link_to open_requests,
                    team_requests_path(current_team, q:'open:true')
                    
                %small
                  open
                  - if !open_requests.zero? && !closed_requests.zero?
                    &mdash;
                    
              - unless open_requests.zero?
                = link_to closed_requests, 
                    team_requests_path(current_team, q:'open:false')
                %small closed

      %p.text-muted
        &mdash;
        = link_to 'Edit', edit_customer_path(@customer)
        to add notes
        &mdash;

  = render partial:'timeline'
