%section.content-header
  %button.btn.btn-default Edit customer

%section.content
  .box
    .box-body
      .row
        .col-lg-7.col-md-7.col-sm-7.col-xs-12
          %h2
            = @customer.name

            - if @customer.company.present?
              %small
                %small
                  from
                = link_to @customer.company, customers_path(q:'')

          %p.text-muted
            %i.fa.fa-envelope-o
            = mail_to @customer.email_address
            %i.fa.fa-phone
            = @customer.phone

          - unless @customer.labels.empty?
            %p.text-muted
              - @customer.labels.each do |label|
                = link_to label, requests_path(q:"label:#{label}"),
                    class:'btn btn-xs bg-info'
                 
        .col-sm-2.col-xs-5
          %h3
            = link_to Request.open_count(@customer), requests_path(q:'customer:1')
            %small open

          %h3
            = link_to Request.open_count(@customer, false), requests_path(q:'customer:1')
            %small closed
            
        .col-sm-3.col-xs-7
          - hrs, mins = @customer.average_reply.to_i.divmod(60)

          %h3
            - unless hrs.zero?
              %span= hrs
              %sup
                %small
                  hr

            - unless mins.zero?
              = mins
              %sup
                %small
                  min

            %small
              &rarr;
              1
              %sup st
              reply

          - hrs, mins = @customer.average_close.to_i.divmod(60)

          %h3
            - unless hrs.zero?
              = hrs
              %sup
                %small
                  hr

            - unless mins.zero?
              = mins
              %sup
                %small
                  min

            %small
              &rarr;
              close

      %p
        Add notes by
        = succeed "." do
          %a{:href => "#"} editing this customer

  - unless @customer.timeline.empty?
    %ul.timeline
      - @customer.timeline.each do |day, activities|
        %li.time-label
          %span.bg-none= day.strftime "%d %b %Y"

        - activities.each do |activity|
          %li
            - timeline_icon activity

            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = activity.created_at.strftime "%R"

              %h3.timeline-header
                - owner_link(activity) unless activity.owner.eql?(@customer)
                - description activity

              - timeline_body activity

      %li
        %i.fa.fa-clock-o.bg-gray
