%section.content-header
  %button.btn.btn-default Edit customer

%section.content
  .box
    .box-body
      .row
        .col-lg-9.col-md-9.col-sm-9.col-xs-9
          %h1
            = @customer.name

            - if @customer.company.present?
              %small
                %small
                  from
                  = link_to @customer.company, team_customers_path(current_team,q:'')
          
          %h3.text-muted
            %i.fa.fa-phone
            = @customer.phone
            
          %h5.text-muted
            %i.fa.fa-envelope-o
            = mail_to @customer.email_address
            
            
          %p.text-muted
            %a.btn.btn-xs.bg-info{:href => "#"} urgent
            %a.btn.btn-xs.bg-info{:href => "#"} paid trial
            %a.btn.btn-xs.bg-info{:href => "#"} balsamiq ltd

          - unless @customer.labels.empty?
            %p.text-muted
              - @customer.labels.each do |label|
                = link_to label, team_requests_path(current_team, q:"label:#{label}"),
                    class:'btn btn-xs bg-info'
                 
        .col-lg-3.col-md-3.col-sm-3.col-xs-3
          - hrs, mins = @customer.average_reply.to_i.divmod(60)

          %h4
            - unless hrs.zero?
              %span= hrs
              %sup
                %small
                  h

            - unless mins.zero?
              = mins
              %sup
                %small
                  m

            %small
              &nbsp;
              1
              %sup st
              reply

          - hrs, mins = @customer.average_close.to_i.divmod(60)

          %h4
            - unless hrs.zero?
              = hrs
              %sup
                %small
                  h

            - unless mins.zero?
              = mins
              %sup
                %small
                  m

            %small
              &nbsp;
              close
              
          %h4
            = link_to Request.open_count(@customer), team_requests_path(current_team, q:'customer:1')
            %small 
              open
              &mdash;
              
            = link_to Request.open_count(@customer, false), team_requests_path(current_team, q:'customer:1')
            %small closed

      %p
        Add notes by
        = succeed "." do
          %a{:href => "#"} editing this customer

  - unless @customer.timeline.empty?
    %ul.timeline
      - @customer.timeline.each do |day, activities|
        %li.time-label
          %span.bg-none= day.strftime "%d %b %Y"

        - activities.each do |activity|
          %li
            - timeline_icon activity

            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = activity.created_at.strftime "%R"

              %h3.timeline-header
                - owner_link(activity) unless activity.owner.eql?(@customer)
                - description activity

              - timeline_body activity

      %li
        %i.fa.fa-clock-o.bg-gray
