.activity
  .col-md-10.col-md-offset-0
    %a.pull-right{:href => '#'}
      %img.img-rounded{:src => avatar(activity.owner) }
      
    %p[activity]
      %small
        %span.mark= time_day activity
        %span.text-muted= month_year activity
        &rarr;
        = link_for activity.owner
        
        %span.text-muted
          = description(activity).html_safe
      
  .content.col-md-8.col-md-offset-0
    - if content = message_content(activity, @emails)
      %blockquote
        %pre= content
