= form_for(@request, url:team_request_path(current_team,@request.number), html:{class:'form-horizontal'}) do |form|

  %section.content-header
    = link_to 'Cancel', :back, class:'btn btn-default'
    = form.button 'Save', class:'btn btn-default'

  %section.content
    .box
      .box-header.with-border
        %h3.text-muted
          - if @request.new_record?
            %small
              New request
          - else
            %small
              Edit request
            = "##{@request.number}"

        = flash[:errors]

      .box-body
        .form-group.text-muted
          = form.label :name, 'Name', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-6
            = form.text_field :name, class:'form-control',
                placeholder:'Request name e.g. Billing enquiry'

        .form-group.text-muted
          = form.label 'Labels', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-6
            = form.text_field :label_list, class:'col-sm-3 form-control',
                placeholder:'Searchable labels e.g. urgent faq billing'

        .form-group.text-muted
          = form.label :status, 'Status', class:'col-sm-2 control-label'

          .radio
            .col-sm-1.col-xs-1
              %label
                = form.radio_button :open, true
                Open

            .col-sm-1.col-xs-1
              %label
                = form.radio_button :open, false
                Closed

        .form-group.text-muted
          = form.label :customer, 'Customer', class:'col-sm-2 control-label'

          .col-sm-3.col-xs-3
            = form.collection_select :customer_id,
                current_team.customers.sort_by(&:name), :id, :name, {},
                class:'form-control'

        .form-group.text-muted
          = form.label :customer, 'Agent', class:'col-sm-2 control-label'

          .col-sm-3.col-xs-3
            = form.collection_select :agent_id,
                current_team.agents.sort_by(&:name), :id, :name, {},
                class:'form-control'

        .form-group.text-muted
          = form.label :customer, 'Customer Happiness', class:'col-sm-2 control-label'

          .col-sm-3.col-xs-3
            = form.select :happiness, happiness_ratings, {}, class:'form-control'

        .form-group
          = form.label :notes, 'Notes', class:'col-sm-2 control-label text-muted'

          .col-sm-9.col-xs-9
            = form.text_area :notes, class:'form-control'

:javascript
  $(function() {
    $('#request_notes').redactor({
      focus: false,
      minHeight: 250,
      replaceDivs: false,
      deniedTags: [],
      removeEmpty: false,
      replaceTags: [],
      pastePlainText: false
    })
  });