= render 'search'

.results-summary.row
  .col-md-9.col-md-offset-1.col-sm-9.col-sm-offset-1
    %p.text-muted
      %small
        %i
          - # 10 requests &mdash; average open: 4 hours, response: 7 mins.

- @requests.each do |request|
  .request.row
    .message_count.col-md-1.col-sm-1.col-xs-1
      %p.text-right
        - unless request.messages.one?
          %small
            %a.text-muted{:href => '#'}
              -# TODO: color based on activity
              %span.glyphicon.glyphicon-comment
              = request.messages.count
              
        - if request.open?
          %span.text-danger
            %span.glyphicon.glyphicon-exclamation-sign
        - else
          %span.text-success
            %span.glyphicon.glyphicon-ok-circle
          
    .description.col-md-9.col-sm-9.col-xs-11
      %h4
        = link_to name_for(request), request_path(request), class:'name'
        
        %small= labels_for(request)
        
      %p.activity.text-muted
        -# TODO: change description if request closed
        -# e.g. customer opened request on date -> agent closed request ...
        -# or agent closed customers request on date after N hours
        
        = link_to request.customer.name, customer_path(request.customer)
        opened request
        
        -# TODO: color based on duration
        %span.mark= time_ago_in_words(request.created_at)
        
        ago
        &rarr;
        
        - if request.agent.present?
          = link_to request.agent.name, customer_path(request.agent)
        - else
          no-one assinged &hellip;
