%section.content
  .search.row
    .col-lg-10.col-md-10.col-sm-10.col-xs-12
      = form_tag team_requests_path(current_team), id: :search, method: :get,
          enforce_utf8:false do
        .input-group
          = search_field_tag :q, search_query, id:'query',
              class:'form-control', placeholder:"Search requests ..."

          .input-group-btn
            = button_tag 'Search', class:'btn btn-default'
            = button_tag class:'btn btn-default dropdown-toggle',
                'aria-expanded' => 'false', 'data-toggle' => 'dropdown' do
              Filter
              %span.caret

            %ul.filter.dropdown-menu.dropdown-menu-right{:role => "menu"}
              %li= link_to 'Clear all', team_requests_path(current_team)

              %li &nbsp;
              %li.dropdown-header{:role => "presentation"}
                %i &mdash; Status &mdash;
              %li= link_to 'Open', '#', 'data-facet' => open_facet
              %li= link_to 'Closed', '#', 'data-facet' => closed_facet

              %li &nbsp;
              %li.dropdown-header{:role => "presentation"}
                %i &mdash; Sort by &mdash;
              %li= link_to 'Newest', '#', 'data-facet' => new_facet
              %li= link_to 'Oldest', '#', 'data-facet' => old_facet
              %li= link_to 'Recently updated', '#', 'data-facet' => updated_facet
              %li= link_to 'Most active', '#', 'data-facet' => active_facet

              %li &nbsp;
              %li.dropdown-header{:role => "presentation"}
                %i &mdash; Assigned to &mdash;

              %li= link_to 'You', '#', 'data-facet' => agent_facet(current_agent)

              - current_agent.team_members.each do |agent|
                %li= link_to agent.name, '#','data-facet' => agent_facet(agent)

    .col-lg-2.col-md-2.col-sm-2.col-xs-12
      %p.pull-right
        = link_to 'New Request', new_team_request_path(current_team),
          class:'btn btn-default'

  %br/

  .box.box-default
    .box-body
      .summary
        %p.text-muted= page_entries_info @requests

      - @requests.each do |request|
        .row.request
          %hr/

          .col.col-lg-9.col-md-9.col-sm-9.col-xs-12
            - if request.open?
              %i.open.fa.fa-fw.fa-exclamation-circle
            - else
              %i.closed.fa.fa-fw.fa-check-circle

            %span
              %b= link_to request.name, team_request_path(current_team, request.number)

              - request.labels.each do |label|
                = link_to_search label

            %br/

            %span.description
              = "##{request.id}"
              opened by
              = link_to request.customer.name, customer_path(request.customer)

              - if request.customer.company
                from
                = link_to request.customer.company, team_requests_path(current_team, q:request.customer.company)

              &mdash;

              assigned to
              - if request.assigned?
                = link_to request.agent.name, agent_path(request.agent)
              - else
                no-one

              - unless request.emails_count.zero?
                %i.comments.fa.fa-fw.fa-comment
                %span.text-muted= request.emails_count


          .col.col-lg-3.col-md-3.col-sm-3.col-xs-12
            %p.pull-right
              %span.time{style:'color: #999; font-size: 12px; padding-right: 1em;'}
                = request.created_at.strftime "%R"
                %i.fa.fa-clock-o
                = request.created_at.strftime "%-d %b %Y"

  = will_paginate @requests
