= render 'search'

%br/

.request.row
  .col-md-9.col-md-offset-1
    .list-group
      - @requests.each do |request|
        .list-group-item
          %h4.list-group-item-heading
            = link_to name_for(request), request_path(request)
            
            %small
              = labels_for(request)
              
          %span.text-muted
            Opened
            
          %span.mark= time_ago_in_words(request.created_at)
            
          %span.text-muted
            ago by
            = link_to request.customer.name, customer_path(request.customer)
            
            assigned to
            
            - if request.agent.present?
              = link_to request.agent.name, customer_path(request.agent)
            - else
              no-one.
            
            - unless request.messages.empty?
              &nbsp;
              
              %small
                %a.text-muted{:href => '#'}
                  -# TODO: color based on activity
                  %span.glyphicon.glyphicon-comment
                  = request.messages.count
