= render 'search'

%br/

.request.row
  .col-md-9.col-md-offset-1
    .list-group
      - 10.times do
        .list-group-item
          %h4.list-group-item-heading
            = link_to Faker::Hacker.say_something_smart, request_path(1)
            
            %small
              = link_to Faker::Commerce.department, '#'
              |
              = link_to Faker::Commerce.department, '#'
              &nbsp;
              
              - comments = rand(20)
              - unless true
                %a{:href => '#'}
                  -# TODO: color based on activity
                  %span.text-warning
                    %span.glyphicon.glyphicon-comment
                    = comments
              
          %span.text-muted
            Opened
            
          %span.mark= open_since
            
          %span.text-muted
            ago by
            %a{:href => '#'}=Faker::Name.name
            assigned to
            %a{:href => '#'}= Faker::Name.name
            
            - comments = rand(20)
            - unless comments == 0
              &nbsp;
              
              %small
                %a.text-muted{:href => '#'}
                  %span.glyphicon.glyphicon-comment
                  = comments
