%br/

= render 'search'

.results-summary.row
  .col-md-10.col-md-offset-0.col-sm-10.col-sm-offset-0
    %p.text-muted
      %small
        %i
          -# 10 requests &mdash; average open: 4 hours, response: 7 mins.

- if @requests.empty?
  .request.row
    .description.col-md-offset-0.col-md-10.col-sm-10.col-sm-offset-0.col-xs-11
      %i
        No requests
          
- @requests.each do |request|
  .request.row
    .description.col-md-10.col-sm-10.col-xs-11
      %h4
        = link_to name_for(request), request_path(request), class:'name'
        
        %small
          - if request.open?
            %span.text-danger
              %span.glyphicon.glyphicon-exclamation-sign
          - else
            %span.text-success
            %span.glyphicon.glyphicon-ok-circle
            
          = labels_for(request)
        
      %p.activity.text-muted
        - unless request.emails.one?
          %small
            %a.text-warning{:href => '#'}
              -# TODO: color based on activity
              %span.glyphicon.glyphicon-comment
              = request.emails_count
              
        -# TODO: change description if request closed
        -# e.g. customer opened request on date -> agent closed request ...
        -# or agent closed customers request on date after N hours
        
        = link_to request.customer.name, customer_path(request.customer)
        opened request
        
        -# TODO: color based on duration
        %span.mark= time_ago_in_words(request.created_at)
        
        ago
        &rarr;
        
        - if request.agent.present?
          = link_to request.agent.name, customer_path(request.agent)
        - else
          no-one assinged &hellip;
