%section.content
  .row
    .col-lg-6
      .input-group
        %input.form-control{"aria-label" => "...", :placeholder => "Search requests ...", :type => "text"}/
        .input-group-btn
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            Search
            %span.caret
          %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
            %li
              %a{:href => "#"} Open
            %li
              %a{:href => "#"} Closed
            %li
              %a{:href => "#"} Assigned to you
            %li.dropdown-header{:role => "presentation"}
              %i — Labels —
            %li
              %a{:href => "#"} Billing
            %li
              %a{:href => "#"} Urgent
            %li.dropdown-header{:role => "presentation"}
              %i — Assigned to —
            %li
              %a{:href => "#"} Rachel
            %li
              %a{:href => "#"} Keith
            %li.dropdown-header{:role => "presentation"}
              %i — Sort by —
            %li
              %a{:href => "#"} Newest
            %li
              %a{:href => "#"} Oldest
            %li
              %a{:href => "#"} Most active
            %li
              %a{:href => "#"} Recently updated
            %li.divider
            %li
              %a{:href => "#"} Clear
  %br/

  .box.box-default
    .box-header
      %h3.box-title
        = @requests.count
        %small requests

    .box-body
      - @requests.each do |request|
        .row.request
          %hr/

          .col.col-lg-10.col-md-10.col-sm-10.col-xs-12
            - if request.open?
              %i.open.fa.fa-fw.fa-exclamation-circle
            - else
              %i.closed.fa.fa-fw.fa-check-circle

            %span
              %b= link_to request.name, request_path(request)

              - request.labels.each do |label|
                = link_to label, requests_path(q:label),
                    class:'btn btn-xs bg-info'

            %br/

            %span.description
              = "##{request.id}"
              opened by
              = link_to request.customer.name, customer_path(request.customer)
              assigned to
              - if request.assigned?
                = link_to request.agent.name, agent_path(request.agent)
              - else
                no-one

              - unless request.emails_count.zero?
                %i.comments.fa.fa-fw.fa-comment
                %span.text-muted= request.emails_count


          .col.col-lg-2.col-md-2.col-sm-2.col-xs-12
            %p.pull-right
              %span.time{style:'color: #999; font-size: 12px; padding-right: 1em;'}
                = request.created_at.strftime "%R"
                %i.fa.fa-clock-o
                = request.created_at.strftime "%-d %b %Y"

  .paginator
    .btn-group
      %button.btn.btn-default
        %i.fa.fa-chevron-left
      %button.btn.btn-default 1
      %button.btn.btn-default.active 2
      %button.btn.btn-default 3
      %button.btn.btn-default 4
      %button.btn.btn-default 5
      %button.btn.btn-default 6
      %button.btn.btn-default 7
      %button.btn.btn-default{:type => "button"}
        %i.fa.fa-chevron-right
