= content_for :head do
  - if @request.emails.outbound.any?
    = tag :meta, 'http-equiv' => 'refresh', content:15
  
%section.content-header
  = link_to 'Edit', edit_team_request_path(current_team, @request.number),
      class:'btn btn-default'

  .btn-group
    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
      Reply
      %span.caret

    %ul.reply.dropdown-menu
      %li
        %li.dropdown-header{:role => "presentation"}
          %i &mdash; Customer &mdash;
      %li= link_to @request.customer.name, '#', 'data-email' => @request.customer.email_address

      %li &nbsp;
      %li
        %li.dropdown-header{:role => "presentation"}
          %i &mdash; Templates &mdash;
      %li= link_to 'Default reply', '#'
      %li= link_to 'Billing enquiry', '#'
      
      %li &nbsp;
      %li.dropdown-header{:role => "presentation"}
        %i &mdash; Agents &mdash;

        - current_team.agents.sort_by(&:name).each do |agent|
          %li= link_to agent.name, '#', 'data-email' => agent.email_address

  .flash.btn.btn-warning.disabled.hidden.pull-right
    .sent.hidden
      Email sent
  
%section.content
  = render partial:'email/outbound/new'

  .request.box
    .box-body
      .info.row
        .col-lg-8.col-md-8.col-sm-8.col-xs-12
          %h2
            %small
              - if @request.open?
                %i.fa.fa-exclamation-circle.text-danger
              - else
                %i.fa.fa-check.text-success
              = "##{@request.number}"
            = @request.name

            %small.text-muted
            - if @request.labels.empty?
              = link_to 'Edit', edit_team_request_path(current_team, @request)
              to add labels
            - else
              - @request.labels.each do |label|
                = link_to label, team_requests_path(current_team, q:label),
                    class:'btn btn-xs bg-info'

          %h3.text-muted
            %small Opened by
            = link_to @request.customer.name, customer_path(@request.customer)

            - if @request.customer.company.present?
              %small
                from
                = link_to @request.customer.company,
                    team_requests_path(current_team, q:"company:1")

          %p
            - if @request.customer.email_address
              %i.fa.fa-envelope-o
              = link_to @request.customer.email_address

            - if @request.customer.phone
              %i.fa.fa-phone
              = @request.customer.phone

        .col-lg-4.col-md-4.col-sm-4.col-xs-12

          - if @request.first_reply.zero?
            %h3
              = distance_of_time_in_words_to_now @request.created_at
              %small waiting
          - else
            %h3
              - hrs, mins = @agent.average_reply.to_i.divmod(60)

              = hrs
              %sup
                %small h

              = mins
              %sup
                %small m

              %small
                1
                %sup st
                reply

            %h3
              = distance_of_time_in_words_to_now @request.created_at
              %small open

          %h3
            - if @request.agent.present?
              = link_to @request.agent.name, agent_path(@request.agent)
            - else
              no-one

            %small
              %small
                assigned

          %h3
            = @request.happiness

            %sup
              %small %

            %small
              customer happiness

      .notes.row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          - if @request.notes.present?
            %p.text-muted
              %i &mdash; Notes &mdash;
            = @request.notes.html_safe
          - else
            %p.text-muted
              &mdash;
              = link_to 'Edit', edit_team_request_path(current_team, @request)
              to add notes
              &mdash;

  - timeline = Timeline.new @request
  - unless timeline.empty?
    %ul.timeline
      -# TODO: dry up with dashboard ...
      - timeline.activities.each do |day, activities|
        %li.time-label
          %span.bg-none= day.strftime "%d %b %Y"

        - activities.each do |activity|
          %li
            - timeline_icon activity

            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = activity.created_at.strftime "%R"

              %h3.timeline-header
                - owner_link activity
                - description activity, false

              - timeline_body activity

      %li
        %i.fa.fa-clock-o.bg-gray
