.request.row
  .col-md-offset-0.col-md-9
    %h2
      %span.name
        = name_for(@request)
      
      = render 'name_edit'
        
      %small
        %small
          %i= "##{@request.id}"
        
        %br/
        
        %span.status
          = render 'status'
        
        %small
          &rarr;
          assigned to
          
          - if @request.agent
            = link_to @request.agent.email_address, agent_path(@request.agent), id:'assignee'
          - else
            no-one


.labels.row
  .col-md-offset-0.col-md-9
    %span.labels= render partial:'label', collection:@request.labels
    = render partial:'label_create'

.actions.row
  .col-md-9.col-md-offset-0
    .btn-group
      - reply_button
      - assign_button
      
      %button.add-label.btn.btn-sm.btn-default
        Label
        
      %button.name-edit.btn.btn-sm.btn-default
        Rename
        
      - unless @request.customer.requests.one?
        %button.merge.btn.btn-sm.btn-default{'data-request' => @request.id}
          Merge
        
      %button.status.btn.btn-sm.btn-default
        = @request.open? ? 'Close' : 'Open'
        
    = render 'status_update'
    
    .merge.requests
      = render('merges/new') if show_merge?(@request)
    
%br/

.activities.row
  -# TODO: group by day
  = render partial:'activity', collection:@activities
   
- unless @activities.size < 2
  .actions.row
    .col-md-9.col-md-offset-0
      .btn-group
        - reply_button
        - assign_button
        
        %button.status.btn.btn-sm.btn-default
          = @request.open? ? 'Close' : 'Open'
