.request.row
  .col-md-9.col-md-offset-1
    %h2
      = Faker::Hacker.say_something_smart
      
      %small
        = "##{rand(4359..10_000).to_s}"
        
      %button.btn.btn-success
        %span.glyphicon.glyphicon-ok-circle
        Closed
        
    .labels
      %button.btn.btn-primary.btn-xs
        = Faker::Commerce.department
        
      %button.btn.btn-info.btn-xs
        = Faker::Commerce.department
      
      %button.btn.btn-warning.btn-xs
        = Faker::Commerce.department
        
      %button.btn.btn-xs
        + Label
     
    %br/
    
    .btn-group
      %button.btn.btn-default
        Reply
      %button.btn.btn-default
        Open
      %button.btn.btn-default
        Status
      %button.btn.btn-default
        Merge

%br/

.request.row
  - 10.times do
    .message
      .col-md-9.col-md-offset-1
        %a.pull-right{:href => '#'}
          %img.img-rounded{:src => avatar }
          
        %h4
          %small
            Opened on
            %span.mark= '12 Dec 2015 20:37'
            by
          = link_to( Faker::Name.name, '#')
          
      .content.col-md-8.col-md-offset-1
        %blockquote
          - rand(0..4).times do
            %p= Faker::Lorem.paragraph
