.request.row
  .col-md-offset-1.col-md-9
    %h2
      = @request.name
      
      %small
        %i= "##{@request.id}"
        
      - if @request.open?
        %button.btn.btn-danger
          %span.glyphicon.glyphicon-exclamation-sign
          Open
          
      - else
        %button.btn.btn-success
          %span.glyphicon.glyphicon-ok-circle
          Closed
          
      %small
        &rarr;
        = link_to @request.agent.email_address, agent_path(@request.agent), id:'assignee'


.labels.row
  .col-md-offset-1.col-md-9
    %span.labels= render partial:'label', collection:@request.labels
    = render partial:'label_create'

.actions.row
  .col-md-9.col-md-offset-1
    .btn-group
      - reply_button
      - assign_button
        
      - %w[ Rename Merge Close ].each {|_| default_button _ }

%br/

.activities.row
  = render partial:'activity', collection:@activities
    
.request.row
  .actions.col-md-9.col-md-offset-1
    .btn-group
      - reply_button
      - assign_button
      
      - %w[ Close ].each {|_| default_button _ }
