.request.row
  .col-md-9.col-md-offset-1
    %h2
      = @request.name
      
      %small
        %i= "##{@request.id}"
        
      - if @request.open?
        %button.btn.btn-danger
          %span.glyphicon.glyphicon-exclamation-sign
          Open
          
        %small
          &rarr;
          = link_to @request.agent.email_address, agent_path(@request.agent), id:'assignee'
            
      - else
        %button.btn.btn-success
          %span.glyphicon.glyphicon-ok-circle
          Closed


    .labels
      - @request.tags.each do |tag|
        %button.btn.btn-primary.btn-xs
          = tag
        
    %br/
    
    .actions.btn-group
      .btn-group
        - reply_button
      .btn-group
        - assign_button
        
      - %w[ Label Rename Merge Close ].each {|_| default_button _ }

%br/

.request.row
  - @request.activities.order(:created_at).each do |activity|
    .message
      .col-md-9.col-md-offset-1
        %a.pull-right{:href => '#'}
          %img.img-rounded{:src => avatar(activity.owner) }
          
        %p
          %span.mark= timestamp activity
          = link_for activity.owner
          
          %span.text-muted
            = description(activity).html_safe
          
      .content.col-md-8.col-md-offset-1
        - if activity.parameters[:message_id].present?
          %blockquote
            %p
              = Message.find(activity.parameters[:message_id]).content.body

    %br/
    
.request.row
  .actions.col-md-9.col-md-offset-1
    .btn-group
      - %w[ Reply Assign Label Close ].each {|_| default_button _ }

%br/
%br/
