%section.content-header
  = link_to 'Edit', edit_team_request_path(current_team, @request),
      class:'btn btn-default'

  .btn-group
    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
      Reply
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to 'Customer', '#'
      %li
        = link_to 'Agents', '#'

%section.content
  .request.box
    .box-body
      .info.row
        .col-lg-9.col-md-9.col-sm-9.col-xs-12
          %h2
            = @request.name
            %small= "##{@request.number}"

          %p.text-muted
            - if @request.labels.empty?
              = link_to 'Edit', edit_team_request_path(current_team, @request)
              to add labels

            - @request.labels.each do |label|
              = link_to label, team_requests_path(current_team, q:label),
                  class:'btn btn-xs bg-info'

          %h3.text-muted
            %small Opened by
            = link_to @request.customer.name, customer_path(@request.customer)

            - if @request.customer.company.present?
              %small
                from
                = link_to @request.customer.company,
                    team_requests_path(current_team, q:"company:1")

          %p
            %i.fa.fa-envelope-o
            %a{:href => "#"} foo@bar.com
            %i.fa.fa-phone
            +400 468 921 213

        .col-lg-3.col-md-3.col-sm-3.col-xs-12
        
          - if @request.first_reply.zero?
            %h3
              = distance_of_time_in_words_to_now @request.created_at
              %small waiting
          - else
            %h3
              - hrs, mins = @agent.average_reply.to_i.divmod(60)
              
              = hrs
              %sup
                %small h
              
              = mins
              %sup
                %small m
  
              %small
                1
                %sup st
                reply

            %h3
              = distance_of_time_in_words_to_now @request.created_at
              %small open

          %h3
            - if @request.agent.present?
              = link_to @request.agent.name, agent_path(@request.agent)
            - else
              no-one

            %small
              %small
                assigned

          %h3
            = @request.happiness

            %sup
              %small %

            %small
              customer happiness

      
      - if @request.notes.present?
        .notes.row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %p.text-muted
              %i
                &mdash; Notes &mdash;
            = @request.notes.html_safe
        
  - timeline = Timeline.new @request
  - unless timeline.empty?
    %ul.timeline
      -# TODO: dry up with dashboard ...
      - timeline.activities.each do |day, activities|
        %li.time-label
          %span.bg-none= day.strftime "%d %b %Y"

        - activities.each do |activity|
          %li
            - timeline_icon activity

            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = activity.created_at.strftime "%R"

              %h3.timeline-header
                - owner_link activity
                - description activity

              - timeline_body activity

      %li
        %i.fa.fa-clock-o.bg-gray
