- content_for :help_link do
  = link_to 'Need Help?',  team_public_guide_url('help', 'agents', host:host)
  
%section.content-header
  = link_to 'Invite an Agent', new_team_agent_path(current_team),
      class:'btn btn-default'

%section.content
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header
          %h2 Team

          %p.text-muted
            %i.fa.fa-envelope-o
            = mail_to "#{current_team.name}@getsupportflow.net"
            %br/
            %i
            &nbsp;

        .box-body
          %table.table.table-condensed
            %tr.text-muted
              %td open
              %td closed
              %td 1st reply
              %td close

            %tr
              %td= link_to dashboard.open_requests, team_requests_path(current_team, q:"open:true")
              %td= link_to dashboard.closed_requests, team_requests_path(current_team, q:"open:false")

              - hrs, mins = hours_mins_from(dashboard.first_reply)
              %td
                - unless hrs.zero?
                  = hrs
                  %small hr

                - unless mins.zero?
                  = mins
                  %small min

              - hrs, mins = hours_mins_from(dashboard.average_close)
              %td
                - unless hrs.zero?
                  = hrs
                  %small hr

                - unless mins.zero?
                  = mins
                  %small min

    - @agents.sort_by(&:name).each do |agent|
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .box
          .box-header
            %h2= link_to agent.name, agent_path(agent)

            %p.text-muted
              %i.fa.fa-envelope-o
              = mail_to agent.email_address
              %br/
              %i.fa.fa-phone
              = agent.phone

          .box-body
            %table.table.table-condensed
              %tr.text-muted
                %td open
                %td closed
                %td 1st reply
                %td close

              %tr
                %td= link_to agent.requests_open_count, team_requests_path(current_team, q:"open:true")
                %td= link_to agent.requests_closed_count, team_requests_path(current_team, q:"open:true")

                - hrs, mins = hours_mins_from(agent.average_reply.to_i)
                %td
                  - unless hrs.zero?
                    = hrs
                    %small hr

                  - unless mins.zero?
                    = mins
                    %small min

                - hrs, mins = hours_mins_from(agent.average_close.to_i)
                %td
                  - unless hrs.zero?
                    = hrs
                    %small hr

                  - unless mins.zero?
                    = mins
                    %small min
