%section.content-header
  %button.btn.btn-default Invite an Agent

%section.content
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header
          %h2 Team

          %p.text-muted
            %i.fa.fa-envelope-o
            = mail_to "help@balsamiq.com"
            %br/
            %i.fa.fa-phone
            = Faker::PhoneNumber.phone_number

        .box-body
          %table.table.table-condensed
            %tr.text-muted
              %td open
              %td closed
              %td 1st reply
              %td close

            %tr
              %td= link_to dashboard.open_requests, team_requests_path(current_team, q:"open:true")
              %td= link_to dashboard.closed_requests, team_requests_path(current_team, q:"open:false")

              - hrs, mins = dashboard.first_reply.divmod(60)
              %td
                - unless hrs.zero?
                  = hrs
                  %small hr

                - unless mins.zero?
                  = mins
                  %small min

              - hrs, mins = dashboard.average_close.divmod(60)
              %td
                - unless hrs.zero?
                  = hrs
                  %small hr

                - unless mins.zero?
                  = mins
                  %small min

    - @agents.sort_by(&:name).each do |agent|
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .box
          .box-header
            %h2= link_to agent.name, agent_path(agent)

            %p.text-muted
              %i.fa.fa-envelope-o
              = mail_to agent.email_address
              %br/
              %i.fa.fa-phone
              = agent.phone

          .box-body
            %table.table.table-condensed
              %tr.text-muted
                %td open
                %td closed
                %td 1st reply
                %td close

              %tr
                %td= link_to Request.open_count(agent), team_requests_path(current_team, q:"open:true")
                %td= link_to Request.open_count(agent, false), team_requests_path(current_team, q:"open:true")

                - hrs, mins = agent.average_reply.to_i.divmod(60)
                %td
                  - unless hrs.zero?
                    = hrs
                    %small hr

                  - unless mins.zero?
                    = mins
                    %small min

                - hrs, mins = agent.average_close.to_i.divmod(60)
                %td
                  - unless hrs.zero?
                    = hrs
                    %small hr

                  - unless mins.zero?
                    = mins
                    %small min
