.agents.row
  -# TODO: dry up content page grid setup
  .description.col-md-offset-0.col-md-9.col-sm-9.col-sm-offset-0.col-xs-11
    %h3
      Agents
      
      %small
        &mdash; view
        = link_to 'recent agent activity', activity_agents_path
        
    %br/
    
    -# TODO: js sort table
    %table.table.table-responsive
      %thead
        %tr
          %th
          %th.text-right open
          %th.text-right closed
          %th.text-right reply
          %th.text-right close
      
        %tr
          %td
            %i.text-muted Total
          %td.text-right= Request.open_count(current_team)
          %td.text-right= Request.open_count(current_team, false)
          
          -# TODO: dry up with customers/index,show
          %td.text-right
            - hours, mins = duration current_team.average_reply
            = "#{hours}h" if hours > 0
            = "#{mins}m" if mins > 0
            
          %td.text-right
            - hours, mins = duration current_team.average_close
            = "#{hours}h" if hours > 0
            = "#{mins}m" if mins > 0
      
      - @agents.each do |agent|
        %tr
          %td= link_to agent.name, edit_agent_path(agent)
          %td.text-right= Request.open_count(agent)
          %td.text-right= Request.open_count(agent, false)
          %td.text-right
            - hours, mins = duration agent.average_reply
            = "#{hours}h" if hours > 0
            = "#{mins}m" if mins > 0
            
          %td.text-right
            - hours, mins = duration agent.average_close
            = "#{hours}h" if hours > 0
            = "#{mins}m" if mins > 0
