- content_for :help_link do
  = link_to 'Need Help?', team_public_guide_url('help', 'agents', anchor:'new', host:host, protocol:'http')

= form_for(@agent, url:team_agents_path(current_team), html:{class:'form-horizontal'}) do |form|

  -# TODO: dry up with app/views/agents/edit
  
  %section.content-header
    = link_to 'Cancel', team_agents_path(current_team),class:'btn btn-default'
    = form.button 'Send Invitation', class:'btn btn-default'

  %section.content
    .box
      .box-header.with-border
        %h3
          %small.text-muted
            - if flash[:errors].present?
              We couldn&apos;t send your agent invition because
              
              %span.text-danger= flash[:errors].map(&:downcase).join ', '
                
            - else
              Invite agent

      .box-body
        .form-group.text-muted
          = form.label :name, 'Name', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-6
            = form.text_field :name, class:'form-control',
                placeholder:'Agent name'
                
        .form-group.text-muted
          = form.label :name, 'Phone', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-6
            = form.text_field :phone, class:'form-control', 
                placeholder:'Agent phone number'
                
        .form-group.text-muted
          = form.label :email_address, 'Email', class:'col-sm-2 control-label'

          .col-sm-6.col-xs-6
            = form.text_field :email_address, class:'form-control', 
                placeholder:'Agent email address'

        .form-group
          = form.label :notes, 'Notes', class:'col-sm-2 control-label text-muted'

          .col-sm-9.col-xs-9
            = form.text_area :notes, class:'form-control'

:javascript
  $(function() {
    $('#agent_notes').redactor({
      focus: false,
      minHeight: 250,
      replaceDivs: false,
      deniedTags: [],
      removeEmpty: false,
      replaceTags: [],
      pastePlainText: false
    })
  });