%section.content-header
  %button.btn.btn-default Edit agent

%section.content
  .box
    .box-body
      .row
        .col-lg-8.col-md-8.col-sm-8.col-xs-8
          %h1
            = @agent.name

          %h3.text-muted
            %i.fa.fa-phone
            = @agent.phone
            
          %h5.text-muted
            %i.fa.fa-envelope-o
            = mail_to @agent.email_address

        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          - hrs, mins = @agent.average_reply.to_i.divmod(60)

          %h3
            - unless hrs.zero?
              %span= hrs
              %sup
                %small
                  h

            - unless mins.zero?
              = mins
              %sup
                %small
                  m

            %small
              &nbsp;
              1
              %sup st
              reply

          - hrs, mins = @agent.average_close.to_i.divmod(60)

          %h3
            - unless hrs.zero?
              = hrs
              %sup
                %small
                  h

            - unless mins.zero?
              = mins
              %sup
                %small
                  m

            %small
              &nbsp;
              close
              
          %h3
            = link_to Request.open_count(@agent), team_requests_path(current_team, q:'agent:1')
            %small 
              open
              &mdash;
              
            = link_to Request.open_count(@agent, false), team_requests_path(current_team, q:'agent:1')
            %small closed

      %p
        %i
          %a{:href => "#"} Edit agent
          to add notes …

  - unless @agent.timeline.empty?
    %ul.timeline
      - @agent.timeline.each do |day, activities|
        %li.time-label
          %span.bg-none= day.strftime "%d %b %Y"

        - activities.each do |activity|
          %li
            - timeline_icon activity

            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = activity.created_at.strftime "%R"

              %h3.timeline-header
                - owner_link(activity) unless activity.owner.eql?(@agent)
                - description activity

              - timeline_body activity

      %li
        %i.fa.fa-clock-o.bg-gray
