%section.content-header
  = link_to 'Edit', edit_agent_path(@agent), class:'btn btn-default'

%section.content
  .request.box
    .box-body
      .info.row
        .col-lg-8.col-md-8.col-sm-8.col-xs-12
          %h1
            = @agent.name

          %h3.text-muted
            %i.fa.fa-phone
            = @agent.phone
            
          %h5.text-muted
            %i.fa.fa-envelope-o
            = mail_to @agent.email_address

        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          - hrs, mins = @agent.average_reply.to_i.divmod(60)

          %h3
            - unless hrs.zero?
              %span= hrs
              %sup
                %small
                  h

            - unless mins.zero?
              = mins
              %sup
                %small
                  m

            %small
              &nbsp;
              1
              %sup st
              reply

          - hrs, mins = @agent.average_close.to_i.divmod(60)

          %h3
            - unless hrs.zero?
              = hrs
              %sup
                %small
                  h

            - unless mins.zero?
              = mins
              %sup
                %small
                  m

            %small
              &nbsp;
              close
              
          %h3
            = link_to Request.open_count(@agent), 
                team_requests_path(current_team, q:"agent_id:#{@agent.id} open:true")
            %small 
              open
              &mdash;
              
            = link_to Request.open_count(@agent, false), 
              team_requests_path(current_team, q:"agent_id:#{@agent.id} open:false")
            %small closed

      
      .notes.row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          - if @agent.notes.present?
            %p.text-muted
              %i
                &mdash; Notes &mdash;
            = @agent.notes.html_safe
          - else
            %p.text-muted
              %i
                &mdash;
                = link_to 'Edit', edit_agent_path(@agent)
                to add notes
                &mdash;
          
  - timeline = Timeline.new @agent
  - unless timeline.empty?
    %ul.timeline
      - timeline.activities.each do |day, activities|
        %li.time-label
          %span.bg-none= day.strftime "%d %b %Y"

        - activities.each do |activity|
          %li
            - timeline_icon activity

            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = activity.created_at.strftime "%R"

              %h3.timeline-header
                - owner_link(activity) unless activity.owner.eql?(@agent)
                - description activity

              - timeline_body activity

      %li
        %i.fa.fa-clock-o.bg-gray
