%section.content-header
  %button.btn.btn-default Edit agent

%section.content
  .box
    .box-body
      .row
        .col-sm-7
          %h2
            = @agent.name

          %p.text-muted
            %i.fa.fa-envelope-o
            = mail_to @agent.email_address
            %i.fa.fa-phone
            = @agent.phone

        .col-sm-2
          %h3
            = link_to Request.open_count(@agent), requests_path(q:'agent:1')
            %small open

          %h3
            = link_to Request.open_count(@agent, false), requests_path(q:'agent:1')
            %small closed

        .col-sm-3
          - hrs, mins = @agent.average_reply.to_i.divmod(60)

          %h3
            - unless hrs.zero?
              %span= hrs
              %sup
                %small
                  hr

            - unless mins.zero?
              = mins
              %sup
                %small
                  min

            %small
              &rarr;
              1
              %sup st
              reply

          - hrs, mins = @agent.average_close.to_i.divmod(60)

          %h3
            - unless hrs.zero?
              = hrs
              %sup
                %small
                  hr

            - unless mins.zero?
              = mins
              %sup
                %small
                  min

            %small
              &rarr;
              close

      %p
        %i
          %a{:href => "#"} Edit agent
          to add notes …

  - unless @agent.timeline.empty?
    %ul.timeline
      - @agent.timeline.each do |day, activities|
        %li.time-label
          %span.bg-none= day.strftime "%d %b %Y"

        - activities.each do |activity|
          %li
            - timeline_icon activity

            .timeline-item
              %span.time
                %i.fa.fa-clock-o
                = activity.created_at.strftime "%R"

              %h3.timeline-header
                - owner_link(activity) unless activity.owner.eql?(@agent)
                - description activity

              - timeline_body activity

      %li
        %i.fa.fa-clock-o.bg-gray
