- if @guide.new_record?
  %h3
    Create a new guide
    
    %small.text-muted
      &mdash;
      see your
      %a{href:'/guides/editing'} guide for creating pages
      &hellip;
  %br/
  
- else
  %br/
  
  %p
    = link_to_guide_url(current_team, @guide)
    
    %span.text-muted.pull-right
      Read your
      %a{href:'/guides/editing'} guide for editing pages
      
%br/

= form_for(@guide) do  |form|
  .content.form-group
    = form.text_area :content, class:'form-control'
    
  .name.form-group
    %label.error.control-label.hide
    = form.text_field :name, class:'form-control', readonly:!@guide.deleteable?, placeholder:'Give this guide a name ...'
    
  .button.form-group
    %button.btn.btn-default
      Save
      
    - if @guide.deleteable?
      %button.delete.btn.btn-danger
        Delete
    
    %button.saved.btn.btn-success.hide
      %span.glyphicon.glyphicon-ok-circle
      Saved
    
    %button.not-saved.btn.btn-warning.hide
      %span.glyphicon.glyphicon-exclamation-sign
      Not saved
      
-# TODO: move to application.css -> infer team from <body data-team-id='1'>
- unless @guide.name == '_template'
  :javascript
    $(function() {
      $('#guide_content').redactor({
        focus: true,
        minHeight: 500,
        replaceDivs: false,
        deniedTags: [],
        removeEmpty: false,
        replaceTags: [],
        pastePlainText: false,
        imageUpload: "/teams/#{current_team.id}/images",
        imageManagerJson: "/teams/#{current_team.id}/images.json",
        uploadImageFields: { 'authenticity_token':"#{form_authenticity_token}" },
        fileUpload: "/teams/#{current_team.id}/files",
        fileManagerJson: "/teams/#{current_team.id}/files.json",
        definedLinks: "/teams/#{current_team.id}/links.json",
        plugins: ['table', 'imagemanager', 'filemanager', 'fullscreen', 'definedlinks']
      })
    });