- guide_url = @guide.new_record? ? [current_team, @guide] : @guide

= form_for(guide_url) do |form|
  %section.content
    .row
      .col-sm-4.col-xs-5

        %div{ class:"form-group #{ 'has-error' if @guide.errors[:name].present? }"}
          = form.text_field :name, class:"form-control input-default",
             placeholder:"Page name"

          - if @guide.errors.any?
            %small.text-danger
              = @guide.errors.to_a.join ','

      .col-sm-3.col-xs-7
        = form.button 'Save', class:"btn btn-default"

        - if @guide.new_record?
          = link_to 'Cancel', :back, class:"btn btn-default"
        - else
          = link_to 'Delete', @guide, method: :delete,
              class:"btn btn-default", data:{ confirm: "Definitely delete?" }

      .col-sm-5.col-xs-12
        %p
          - unless @guide.new_record?
            %small.text-muted
              Public URL:
              = link_to public_guide_url(current_team.name.parameterize, @guide.name.parameterize), 
                  public_guide_url(current_team.name.parameterize, @guide.name.parameterize)
                  
              &rArr;
              = @guide.view_count
              views

    .row
      .col-sm-12.col-xs-12
        = form.text_area :content

:javascript
  $(function() {
    $('#guide_content').redactor({
      focus: true,
      minHeight: 500,
      replaceDivs: false,
      deniedTags: [],
      removeEmpty: false,
      replaceTags: [],
      pastePlainText: false,
      imageUpload: "/teams/181813285/images",
      imageManagerJson: "/teams/181813285/images.json",
      uploadImageFields: { 'authenticity_token':"/fZWABEU9rHUkWKs5vG46sSrZ3BXbIDYrb+NJGYl1myp9F0q83H+Nr8gpYiVaCE+cDLwYfs/RxpEyfWPR3u5jQ==" },
      fileUpload: "/teams/181813285/files",
      fileManagerJson: "/teams/181813285/files.json",
      definedLinks: "#{ team_links_path current_team }",
      plugins: ['table', 'imagemanager', 'filemanager', 'fullscreen', 'definedlinks']
    })
  });