- content_for :help_link do
  = link_to 'Need Help?', team_public_guide_url('help', 'guides', host:host, protocol:'http')
  
%section.content-header
  = link_to 'Create new Guide', new_team_guide_path(current_team),
      class:'btn btn-default'

  = link_to 'Customise guide template',
      edit_guide_path(Guide.template(current_team)),
      class:'btn btn-default'

  = link_to "Guide search",
      search_url,
      class:'btn btn-default'

%section.content
  - @guides.in_groups_of(2).each do |guides|
    .row
      - guides.compact.each do |guide|
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .box
            .box-header.with-border
              %h1
                = edit_guide_link guide

              = link_to_public guide

              %p.pull-right
                %i.fa.fa-eye
                = guide.view_count
                views

            .box-body
              %p= summary(guide)

              %small.text-muted
                Created
                - activity = guide.created_activity
                = activity.created_at.strftime "%-d %B %Y"

                by
                - agent = activity.owner
                = link_to agent.name, agent_path(agent)

                - if activity = guide.updated_activity
                  &mdash; updated
                  = activity.created_at.strftime "%-d %B %Y"
                  by
                  = link_to agent.name, agent_path(agent)
