.header.row
  .col-md-offset-1.col-md-9.col-sm-offset-1.col-sm-9.col-xs-12
    %h3
      Customer guides
      
      %small.text-muted
        are available at
        = link_to "http://getsupportflow.com/balsamiq", '#'
        
    %p.text-muted
      %small
        See our
        %a{href:'#'} help guides for subdomains &amp; custom domains 
        &hellip;

.guides.row
  .col-md-offset-1.col-md-9.col-sm-offset-1.col-sm-9.col-xs-12
    %table.table
      %thead
        %tr
          %th 
          %th 
          %th.text-muted views
        
      %tr
        %td= link_to "_template", guide_path(Guide.template(current_team))
        %td
        %td
        
      %tr
        %td= link_to "home page", guide_path(Guide.index(current_team))
        %td= link_to "http://getsupportflow.com/balsamiq", '#'
        %td= rand(100)
        
      - @guides.each do |guide|
        %tr
          %td= link_to guide.name, guide_path(guide)
          %td= link_to "http://getsupportflow.com/balsamiq/billing", '#'
          %td= rand(100)

%br/

.row
  .col-md-offset-1.col-md-9.col-sm-offset-1.col-sm-9.col-xs-12
    %p= link_to "New guide", new_guide_path, class:'btn btn-default'
