%section.content-header
  %button.btn.btn-default Create a Guide
  %button.btn.btn-default Customise guide template

%section.content
  - @guides.in_groups_of(2).each do |guides|
    .row
      - guides.each do |guide|
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .box
            .box-header.with-border
              %h1
                = link_to guide.name, guide_path(guide)

              = link_to guide_url(guide), guide_url(guide)

              %p.pull-right
                %i.fa.fa-eye
                = guide.view_count
                views

            .box-body
              %p= summary(guide)

              %small.text-muted

                Created
                - activity = guide.created_activity
                = activity.created_at.strftime "%-d %B %Y"
                by
                - agent = activity.owner
                = link_to agent.name, agent_path(agent)

                - if activity = guide.updated_activity
                  &mdash; updated
                  = activity.created_at.strftime "%-d %B %Y"
                  by
                  - agent = activity.owner
                  = link_to agent.name, agent_path(agent)
