%section.content-header
  %button.btn.btn-default Create a Guide
  %button.btn.btn-default Customise guide template
  
%section.content
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
              
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              FAQ
          %a{:href => "http://localhost:3000/faq"} http://localhost:3000/faq
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
              
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .box
        .box-header.with-border
          %h1
            = link_to guide_path(892078063) do
              Home
          %a{:href => "http://localhost:3000/help"} http://localhost:3000/help
          %p.pull-right
            %i.fa.fa-eye
            144 views
        .box-body
          %p
            English. Many desktop publishing packages and web page
            editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web
          %p.text-muted
            %i
              Created on 15 April 2015 by
              %a{:href => "#"} Rachel
              , updated on 15 April 2015 by
              %a{:href => "#"} Keith
