!!!

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SupportFlow
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'
    = yield :head

  %body.skin-blue.layout-top-nav
    .wrapper
      %header.main-header
        %nav{class:" navbar navbar-static-top #{controller_name}"}
          .container
            .navbar-header
              = link_to current_team, class:'navbar-brand' do
                Support
                %i Flow

              %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %i.fa.fa-bars

            #navbar-collapse.collapse.navbar-collapse.pull-left
              %ul.nav.navbar-nav
                %li= link_to 'Requests', team_requests_path(current_team)
                %li= link_to 'Guides', team_guides_path(current_team)
                %li= link_to 'Customers', team_customers_path(current_team)
                %li= link_to 'Agents', team_agents_path(current_team)

                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Settings
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li= link_to 'Mailboxes', team_mailboxes_path(current_team)
                    %li= link_to 'Reply Templates', team_reply_templates_path(current_team)
                    %li= link_to 'Billing', team_billing_path(current_team)
                    %li.divider
                    %li
                      = link_to 'Logout', logins_path, method: :delete

            .navbar-custom-menu
              %ul.nav.navbar-nav
                %li
                  %a{:href => "/help"} Need Help?

      .content-wrapper
        .container
          = yield

      %footer.main-footer
        .container
          %small
            &copy; 2015 Support
            %i Flow
            Terms
            Privacy
            Contact us
