!!!

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SupportFlow
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'
    = yield :head

  %body.skin-blue.layout-top-nav
    .wrapper
      %header.main-header
        %nav{class:"navbar navbar-static-top #{controller_name}"}
          .container
            .navbar-header
              = link_to current_team, class:'navbar-brand' do
                Support
                %i Flow

              %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %i.fa.fa-bars

            #navbar-collapse.collapse.navbar-collapse.pull-left
              %ul.nav.navbar-nav
                %li= link_to 'Requests', team_requests_path(current_team)
                %li= link_to 'Guides', team_guides_path(current_team)
                %li= link_to 'Customers', team_customers_path(current_team)
                %li= link_to 'Agents', team_agents_path(current_team)

                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Settings
                    %span.caret

                  %ul.dropdown-menu{:role => "menu"}
                    %li.dropdown-header{:role => "presentation"}
                      %i &mdash; Team &mdash;
                    %li= link_to 'Domains', team_mailboxes_path(current_team)
                    %li= link_to 'Mailboxes', team_mailboxes_path(current_team)
                    %li= link_to 'Billing', team_billing_path(current_team)

                    %li &nbsp;
                    %li.dropdown-header{:role => "presentation"}
                      %i &mdash; Email &mdash;
                    %li= link_to 'Replies', team_reply_templates_path(current_team)
                    %li= link_to 'Notifications', edit_team_notifications_path(current_team)

                    %li.divider
                    %li
                      = link_to 'Logout', team_login_path(current_team), method: :delete

            .navbar-custom-menu
              %ul.nav.navbar-nav
                %li
                  %a{:href => "/help"} Need Help?

      .content-wrapper
        .container
        
          - if current_team.demo?
            .notice.callout
              %p.text-center
                This is a
                %b
                  demonstration
                account &mdash;
                = link_to 'start your trial', '#'
                to use the full version.
                
                Questions?
                = mail_to 'rachel@getsupportflow.com'
                is here to help!

          = yield

      %footer.main-footer
        .container
          %small
            &copy; 2015 Support
            %i Flow
