!!!

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SupportFlow
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'
    
  %body.skin-blue.layout-top-nav
    .wrapper
      %header.main-header
        %nav.navbar.navbar-static-top
          .container
            .navbar-header
              %a.navbar-brand{ href:root_path }
                Support
                %i Flow
              %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %i.fa.fa-bars
                
            #navbar-collapse.collapse.navbar-collapse.pull-left
              %ul.nav.navbar-nav
                %li.active= link_to 'Requests', requests_path
                %li= link_to 'Guides', guides_path
                %li= link_to 'Agents', agents_path
                %li= link_to 'Customers', customers_path
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Settings
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => "#"} Mailboxes
                    %li
                      %a{:href => "#"} Billing
                    %li.divider
                    %li
                      %a{:href => "#"} Logout
                      
            .navbar-custom-menu
              %ul.nav.navbar-nav
                %li
                  %a{:href => "/help"} Need Help?
                  
      .content-wrapper
        .container
          = yield
          
      %footer.main-footer
        .container
          %span
            &copy; 2015 Dancing Text Ltd. Terms Privacy Contact us
